@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.header1{
    width: 100%;
    height: 100vh;
    background-image: url('./bg.png');
    background-size: cover;
}
.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainheader .logo img{
    width: 240px; height: 70px;
    padding-left: 50px;
}
.mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainheader nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right ,#649bff,#0070fa,#649bff);
    margin-right: 10px;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-sec button{
    padding: 15px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right ,#649bff,#0070fa,#649bff);
}
.left-sec{
    padding-left: 100px;
}
.right-sec{
    padding-right: 70px;
}
.left-sec h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 100px;
}
.left-sec h1{
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 12px 0;
}
.left-sec p{
    margin-bottom: 20px;
}